# Environment variables
.env

# Database
*.db
api.db
# Django
db.sqlite3

# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
*.txt
curl_output.txt
test_output.txt

# Python
__pycache__/
*.pyc


